In [11]:
import pandas as pd
import re

In [12]:
df = pd.read_csv("data/raw/condensed.tsv", sep="\t")
df.head()

   Unnamed: 0       data                                             resumo
0           0  1/23/2017  O trabalho a seguir se insere numa proposta ge...
1           1  1/30/2017  Esta dissertação apresenta um neologismo sob a...
2           2  1/30/2017  Esta pesquisa apresenta os modos de atuação da...
3           3  1/31/2017  Desde 2015, o Ministério da Educação, acompanh...
4           4  1/31/2017  O objetivo desta dissertação é entender os pro...

In [15]:
%pip install ace_tools

Requirement already satisfied: ace_tools in ./venv/lib/python3.8/site-packages (0.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Garantir que a coluna "Resumo" seja tratada como string
df["resumo"] = df["resumo"].astype(str)

# Encontrar caracteres não ASCII
def encontrar_caracteres_especiais(texto):
    return "".join(set(re.findall(r"[^\x00-\x7F]", texto)))  # Retorna caracteres únicos

df["Caracteres_Especiais"] = df["resumo"].apply(encontrar_caracteres_especiais)

# Exibir as linhas que contêm caracteres especiais
df_especiais = df[df["Caracteres_Especiais"] != ""]
import ace_tools as tools
tools.display_dataframe_to_user(name="Caracteres Especiais", dataframe=df_especiais)

NameError: name 'df' is not defined

In [9]:
ndf = df.filter(['data', 'resumo'])
ndf.to_csv('./data/raw/condensed.tsv', sep='\t')